<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6cmZELaRb5Watkk7-a00z0CWo1mH9ASc</string>
	<key>GCM_SENDER_ID</key>
	<string>805892887756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pearman.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-f2df8</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-f2df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805892887756:ios:d315c34d3efe1a556b1e69</string>
</dict>
</plist>